# Data wrangling

## Libraries

In [12]:
import pandas as pd

## Read data

In [13]:
stations = pd.read_json("data/stations.json")
crimes = pd.read_json("data/crimes.json")
distances = pd.read_json("data/distances.json")
community = pd.read_json("data/community_areas.json")

In [14]:
stations

                station_name      community_area  longitude   latitude
0        3510 S Michigan Ave             DOUGLAS -87.623395  41.830702
1         1160 N Larrabee St     NEAR NORTH SIDE -87.643352  41.903242
2           850 W Addison St           LAKE VIEW -87.651512  41.947400
3         5400 N Lincoln Ave      LINCOLN SQUARE -87.692845  41.979550
4        1900 W Monterey Ave         MORGAN PARK -87.668520  41.691435
5            6464 N Clark St         ROGERS PARK -87.671324  41.999763
6           5555 W Grand Ave      BELMONT CRAGIN -87.765574  41.918609
7            1718 S State St     NEAR SOUTH SIDE -87.627356  41.858373
8       5101 S Wentworth Ave         FULLER PARK -87.630560  41.801811
9   7040 S Cottage Grove Ave            WOODLAWN -87.605748  41.766431
10           2255 E 103rd St       SOUTH DEERING -87.568349  41.707933
11            727 E 111th St             PULLMAN -87.604506  41.692723
12         7808 S Halsted St      AUBURN GRESHAM -87.644229  41.752137
13            1438 W 63rd St      WEST ENGLEWOOD -87.660887  41.779632
14            3420 W 63rd St        CHICAGO LAWN -87.708864  41.778987
15         3120 S Halsted St          BRIDGEPORT -87.646408  41.837394
16          3315 W Ogden Ave      NORTH LAWNDALE -87.708382  41.856685
17        3151 W Harrison St  EAST GARFIELD PARK -87.705488  41.873582
18  1412 S Blue Island Ave\n      NEAR WEST SIDE -87.656973  41.862977
19     2150 N California Ave        LOGAN SQUARE -87.697452  41.921103
20         5701 W Madison St              AUSTIN -87.768200  41.880083
21      5151 N Milwaukee Ave      JEFFERSON PARK -87.766149  41.974094
22         4650 N Pulaski Rd         ALBANY PARK -87.728115  41.966053

## New data

### New stations

In [15]:
new_stations = stations.copy()
new_stations['ID_ps'] = [i for i in range(1,24)]

In [16]:
new_stations

                station_name      community_area  longitude   latitude  ID_ps
0        3510 S Michigan Ave             DOUGLAS -87.623395  41.830702      1
1         1160 N Larrabee St     NEAR NORTH SIDE -87.643352  41.903242      2
2           850 W Addison St           LAKE VIEW -87.651512  41.947400      3
3         5400 N Lincoln Ave      LINCOLN SQUARE -87.692845  41.979550      4
4        1900 W Monterey Ave         MORGAN PARK -87.668520  41.691435      5
5            6464 N Clark St         ROGERS PARK -87.671324  41.999763      6
6           5555 W Grand Ave      BELMONT CRAGIN -87.765574  41.918609      7
7            1718 S State St     NEAR SOUTH SIDE -87.627356  41.858373      8
8       5101 S Wentworth Ave         FULLER PARK -87.630560  41.801811      9
9   7040 S Cottage Grove Ave            WOODLAWN -87.605748  41.766431     10
10           2255 E 103rd St       SOUTH DEERING -87.568349  41.707933     11
11            727 E 111th St             PULLMAN -87.604506  41.692723     12
12         7808 S Halsted St      AUBURN GRESHAM -87.644229  41.752137     13
13            1438 W 63rd St      WEST ENGLEWOOD -87.660887  41.779632     14
14            3420 W 63rd St        CHICAGO LAWN -87.708864  41.778987     15
15         3120 S Halsted St          BRIDGEPORT -87.646408  41.837394     16
16          3315 W Ogden Ave      NORTH LAWNDALE -87.708382  41.856685     17
17        3151 W Harrison St  EAST GARFIELD PARK -87.705488  41.873582     18
18  1412 S Blue Island Ave\n      NEAR WEST SIDE -87.656973  41.862977     19
19     2150 N California Ave        LOGAN SQUARE -87.697452  41.921103     20
20         5701 W Madison St              AUSTIN -87.768200  41.880083     21
21      5151 N Milwaukee Ave      JEFFERSON PARK -87.766149  41.974094     22
22         4650 N Pulaski Rd         ALBANY PARK -87.728115  41.966053     23

### New Community areas

In [30]:
new_community = community.copy()
new_community.rename(columns={'ID':'ID_CA'}, inplace=True)

new_community

,ID_CA,community_area,population,area,neighbours
0,1,ROGERS PARK,55628,4.77,"[1, 2, 77]"
1,2,WEST RIDGE,77122,9.14,"[1, 2, 4, 13, 77]"
2,3,UPTOWN,57182,6.01,"[3, 4, 5, 6, 77]"
3,4,LINCOLN SQUARE,40494,6.63,"[2, 3, 4, 5, 6, 13, 14, 16, 77]"
4,5,NORTH CENTER,35114,5.31,"[3, 4, 5, 6, 7, 14, 16, 21, 22]"
...,...,...,...,...,...
72,73,WASHINGTON HEIGHTS,25065,7.41,"[49, 71, 72, 73, 75]"
73,74,MOUNT GREENWOOD,18628,7.02,"[72, 74, 75]"
74,75,MORGAN PARK,21186,8.55,"[49, 53, 72, 73, 74, 75]"
75,76,OHARE,13418,34.55,"[10, 17, 76]"
76,77,EDGEWATER,56296,4.51,"[1, 2, 3, 4, 77]"

### Distances D: distances between police stations and community areas

In [18]:
D_distances = stations.merge(distances, on = "station_name")
D_distances.drop(columns=['community_area', 'longitude', 'latitude'], inplace=True)
D_distances

,station_name,distances
0,3510 S Michigan Ave,"[2092.19, 2103.08, 1560.8, 1750.1, 1439.87, 13..."
1,1160 N Larrabee St,"[1217.56, 1283.21, 686.17, 930.23, 662.57, 467..."
2,850 W Addison St,"[784.26, 885.85, 252.87, 540.93, 298.23, 106.0..."
3,5400 N Lincoln Ave,"[478.94, 346.67, 482.46, 132.04, 511.79, 642.4..."
4,1900 W Monterey Ave,"[3025.14, 3036.02, 2493.75, 2683.05, 2372.81, ..."
5,6464 N Clark St,"[125.89, 311.05, 511.7, 415.38, 711.59, 740.61..."
6,5555 W Grand Ave,"[1597.02, 1399.75, 1335.54, 1179.09, 1029.81, ..."
7,1718 S State St,"[1833.29, 1941.22, 1377.79, 1588.24, 1278.01, ..."
8,5101 S Wentworth Ave,"[2229.84, 2240.73, 1698.46, 1887.75, 1577.52, ..."
9,7040 S Cottage Grove Ave,"[2596.72, 2607.61, 2065.33, 2254.63, 1944.4, 1..."
10,2255 E 103rd St,"[3001.86, 3012.75, 2470.48, 2659.77, 2349.54, ..."
11,727 E 111th St,"[2944.69, 2955.58, 2413.3, 2602.6, 2292.37, 21..."
12,7808 S Halsted St,"[2634.12, 2645.01, 2102.74, 2292.03, 1981.8, 1..."
13,1438 W 63rd St,"[2596.68, 2607.57, 2065.29, 2254.59, 1944.36, ..."
14,3420 W 63rd St,"[2688.95, 2699.84, 2157.56, 2346.86, 2036.63, ..."
15,3120 S Halsted St,"[2073.43, 2084.32, 1542.05, 1731.34, 1421.11, ..."
16,3315 W Ogden Ave,"[2020.02, 1822.75, 1620.34, 1602.09, 1289.65, ..."
17,3151 W Harrison St,"[1848.82, 1659.79, 1425.9, 1439.13, 1099.01, 1..."
18,1412 S Blue Island Ave\n,"[1816.02, 1826.9, 1284.63, 1473.92, 1163.69, 1..."
19,2150 N California Ave,"[1220.91, 1054.28, 854.33, 828.24, 471.1, 649...."
20,5701 W Madison St,"[2032.47, 1835.2, 1734.15, 1614.54, 1377.65, 1..."
21,5151 N Milwaukee Ave,"[1138.76, 941.5, 1055.75, 794.08, 882.92, 1120..."
22,4650 N Pulaski Rd,"[867.43, 670.16, 627.24, 449.49, 583.81, 723.9..."

### Distances d: distances between police stations

In [19]:
import math


d_distances = stations.copy()


distances = []

for i, row in d_distances.iterrows():
    d = []
    lon_i = stations['longitude'][i]
    lat_i = stations['latitude'][i] 
    coord_i = [lat_i, lon_i]                  # latitude comes before longitude
    for j in range(23):
        lon_j = stations['longitude'][j]
        lat_j = stations['latitude'][j]
        coord_j = [lat_j, lon_j]
        d.append(math.dist(coord_i, coord_j)) # Using Euclidean distance
    distances.append(d)

d_distances['distances']= distances
d_distances.drop(columns=["community_area", "longitude", "latitude"], inplace=True)
d_distances

## DISTANCES ENTRE STATIONS ES DIFERENTE QUE DISTANCES DE STATIONS Y COMMUNITY AREAS

,station_name,distances
0,3510 S Michigan Ave,"[0.0, 0.07523509330030836, 0.1200381191597144,..."
1,1160 N Larrabee St,"[0.07523509330030836, 0.0, 0.0449063931108958,..."
2,850 W Addison St,"[0.1200381191597144, 0.0449063931108958, 0.0, ..."
3,5400 N Lincoln Ave,"[0.16425242568515927, 0.09095264804279252, 0.0..."
4,1900 W Monterey Ave,"[0.14639515516556165, 0.2132969549413625, 0.25..."
5,6464 N Clark St,"[0.17572442097650645, 0.10049330744965694, 0.0..."
6,5555 W Grand Ave,"[0.16716034463771068, 0.12318462753238194, 0.1..."
7,1718 S State St,"[0.027952939056253876, 0.04763510891689406, 0...."
8,5101 S Wentworth Ave,"[0.02976577829133368, 0.10223400971572355, 0.1..."
9,7040 S Cottage Grove Ave,"[0.06664960341922221, 0.14188469236001355, 0.1..."
10,2255 E 103rd St,"[0.13454429558986397, 0.20921474253744904, 0.2..."
11,727 E 111th St,"[0.13926532951261797, 0.21407237822156297, 0.2..."
12,7808 S Halsted St,"[0.08128021209246436, 0.15110735366211955, 0.1..."
13,1438 W 63rd St,"[0.06335444373058724, 0.12484763237974042, 0.1..."
14,3420 W 63rd St,"[0.09989619048988821, 0.1404669037400377, 0.17..."
15,3120 S Halsted St,"[0.023965839886758093, 0.06591807710903459, 0...."
16,3315 W Ogden Ave,"[0.08886974656067259, 0.07997776510959408, 0.1..."
17,3151 W Harrison St,"[0.09261733306725294, 0.0688517166735129, 0.09..."
18,1412 S Blue Island Ave\n,"[0.04657356310366399, 0.04250631858721464, 0.0..."
19,2150 N California Ave,"[0.11686237827255845, 0.056972051317208394, 0...."
20,5701 W Madison St,"[0.15299318289697644, 0.12697740918816472, 0.1..."
21,5151 N Milwaukee Ave,"[0.2023364587206176, 0.14177146680037345, 0.11..."
22,4650 N Pulaski Rd,"[0.1711321236852326, 0.1054987502048626, 0.078..."

In [20]:
from numpy import sin, cos, arccos, pi, round

def rad2deg(radians):
    degrees = radians * 180 / pi
    return degrees

def deg2rad(degrees):
    radians = degrees * pi / 180
    return radians

def getDistanceBetweenPointsNew(latitude1, longitude1, latitude2, longitude2, unit = 'kilometers'):
    
    theta = longitude1 - longitude2
    
    distance = 60 * 1.1515 * rad2deg(
        arccos(
            (sin(deg2rad(latitude1)) * sin(deg2rad(latitude2))) + 
            (cos(deg2rad(latitude1)) * cos(deg2rad(latitude2)) * cos(deg2rad(theta)))
        )
    )
    
    if unit == 'miles':
        return round(distance, 2)
    if unit == 'kilometers':
        return round(distance * 1.609344, 2)

In [21]:
import math


d_distances = stations


distances = []

for i, row in d_distances.iterrows():
    d = []
    lon_i = stations['longitude'][i]
    lat_i = stations['latitude'][i] 
    coord_i = [lat_i, lon_i]                  # latitude comes before longitude
    for j in range(23):
        lon_j = stations['longitude'][j]
        lat_j = stations['latitude'][j]
        coord_j = [lat_j, lon_j]
        d.append(getDistanceBetweenPointsNew(lat_i, lon_i, lat_j, lon_j)) # Using formula in https://es.martech.zone/calculate-great-circle-distance/
    distances.append(d)

# otros enlaces:

## https://www.way.com/es/blog/%C2%BFQu%C3%A9-tan-r%C3%A1pidos-son-los-coches-de-polic%C3%ADa%3F/
## https://www.motorpasion.com/ford/ford-explorer-el-coche-de-policia-mas-vendido-en-estados-unidos


d_distances['distances']= distances
d_distances.drop(columns=["community_area", "longitude", "latitude"], inplace=True)
d_distances

/tmp/ipykernel_21496/1684513170.py:16: RuntimeWarning: invalid value encountered in arccos
  arccos(

,station_name,distances
0,3510 S Michigan Ave,"[0.0, 8.23, 13.18, 17.52, 15.93, 19.21, 15.3, ..."
1,1160 N Larrabee St,"[8.23, 0.0, 4.96, 9.42, 23.64, 10.98, 10.26, 5..."
2,850 W Addison St,"[13.18, 4.96, 0.0, 4.95, 28.5, 6.05, 9.96, 10...."
3,5400 N Lincoln Ave,"[17.52, 9.42, 4.95, 0.0, 32.1, 2.87, 9.06, 14...."
4,1900 W Monterey Ave,"[15.93, 23.64, 28.5, 32.1, 0.0, 34.28, 26.51, ..."
5,6464 N Clark St,"[19.21, 10.98, 6.05, 2.87, 34.28, 0.0, 11.92, ..."
6,5555 W Grand Ave,"[15.3, 10.26, 9.96, 9.06, 26.51, 11.92, 0.0, 1..."
7,1718 S State St,"[3.09, 5.16, 10.1, 14.52, 18.87, 16.14, 13.26,..."
8,5101 S Wentworth Ave,"[3.27, 11.33, 16.28, 20.42, 12.67, 22.27, 17.1..."
9,7040 S Cottage Grove Ave,"[7.29, 15.53, 20.48, 24.77, 9.83, 26.51, 21.48..."
10,2255 E 103rd St,"[14.39, 22.59, 27.5, 31.91, 8.52, 33.55, 28.56..."
11,727 E 111th St,"[15.42, 23.63, 28.58, 32.72, 5.32, 34.59, 28.4..."
12,7808 S Halsted St,"[8.9, 16.8, 21.72, 25.6, 7.04, 27.62, 21.06, 1..."
13,1438 W 63rd St,"[6.47, 13.82, 18.67, 22.39, 9.83, 24.49, 17.72..."
14,3420 W 63rd St,"[9.12, 14.84, 19.32, 22.34, 10.29, 24.74, 16.2..."
15,3120 S Halsted St,"[2.05, 7.33, 12.24, 16.27, 16.33, 18.17, 13.37..."
16,3315 W Ogden Ave,"[7.61, 7.47, 11.13, 13.72, 18.67, 16.2, 8.36, ..."
17,3151 W Harrison St,"[8.3, 6.11, 9.34, 11.83, 20.48, 14.31, 7.06, 6..."
18,1412 S Blue Island Ave\n,"[4.54, 4.62, 9.4, 13.3, 19.1, 15.26, 10.91, 2...."
19,2150 N California Ave,"[11.77, 4.9, 4.79, 6.51, 25.65, 9.01, 5.64, 9...."
20,5701 W Madison St,"[13.19, 10.65, 12.22, 12.7, 22.55, 15.53, 4.29..."
21,5151 N Milwaukee Ave,"[19.84, 12.85, 9.93, 6.09, 32.45, 8.34, 6.17, ..."
22,4650 N Pulaski Rd,"[17.37, 9.9, 6.66, 3.28, 30.93, 6.01, 6.12, 14..."

### Criminality index

In [22]:
new_community.head()

,ID,community_area,population,area,neighbours,ID_ca
0,1,ROGERS PARK,55628,4.77,"[1, 2, 77]",1
1,2,WEST RIDGE,77122,9.14,"[1, 2, 4, 13, 77]",2
2,3,UPTOWN,57182,6.01,"[3, 4, 5, 6, 77]",3
3,4,LINCOLN SQUARE,40494,6.63,"[2, 3, 4, 5, 6, 13, 14, 16, 77]",4
4,5,NORTH CENTER,35114,5.31,"[3, 4, 5, 6, 7, 14, 16, 21, 22]",5

In [32]:
crimes_per_community = crimes.groupby("community_area").size()
crimes_per_community = crimes_per_community.reset_index()
crimes_per_community.columns = ['community_area', 'criminality_index']
crimes_per_community

    community_area  criminality_index
0      ALBANY PARK               2142
1   ARCHER HEIGHTS                988
2    ARMOUR SQUARE               1146
3          ASHBURN               1988
4   AUBURN GRESHAM               6405
..             ...                ...
72       WEST LAWN               1561
73    WEST PULLMAN               3326
74      WEST RIDGE               3785
75       WEST TOWN               7105
76        WOODLAWN               3424

[77 rows x 2 columns]

In [35]:
R_criminalities = crimes_per_community.merge(new_community, on="community_area")
R_criminalities.drop(columns=["population", "area", "neighbours"], inplace=True)
R_criminalities = R_criminalities.sort_values("ID_CA").reset_index()
R_criminalities

    index      community_area  criminality_index  ID_CA
0      60         ROGERS PARK               4000      1
1      74          WEST RIDGE               3785      2
2      66              UPTOWN               3812      3
3      39      LINCOLN SQUARE               2064      4
4      51        NORTH CENTER               1323      5
..    ...                 ...                ...    ...
72     67  WASHINGTON HEIGHTS               2870     73
73     46     MOUNT GREENWOOD                528     74
74     45         MORGAN PARK               1785     75
75     56               OHARE               1643     76
76     21           EDGEWATER               2830     77

[77 rows x 4 columns]

## Organizing new data

### Police stations

In [57]:
police_stations = new_stations.merge(D_distances, on="station_name")
police_stations = police_stations.merge(d_distances, on="station_name")
police_stations.rename(columns={"distances_x":"D_distances", "distances_y":"d_distances"})

,station_name,community_area,longitude,latitude,ID_ps,D_distances,d_distances
0,3510 S Michigan Ave,DOUGLAS,-87.623395,41.830702,1,"[2092.19, 2103.08, 1560.8, 1750.1, 1439.87, 13...","[0.0, 8.23, 13.18, 17.52, 15.93, 19.21, 15.3, ..."
1,1160 N Larrabee St,NEAR NORTH SIDE,-87.643352,41.903242,2,"[1217.56, 1283.21, 686.17, 930.23, 662.57, 467...","[8.23, 0.0, 4.96, 9.42, 23.64, 10.98, 10.26, 5..."
2,850 W Addison St,LAKE VIEW,-87.651512,41.947400,3,"[784.26, 885.85, 252.87, 540.93, 298.23, 106.0...","[13.18, 4.96, 0.0, 4.95, 28.5, 6.05, 9.96, 10...."
3,5400 N Lincoln Ave,LINCOLN SQUARE,-87.692845,41.979550,4,"[478.94, 346.67, 482.46, 132.04, 511.79, 642.4...","[17.52, 9.42, 4.95, 0.0, 32.1, 2.87, 9.06, 14...."
4,1900 W Monterey Ave,MORGAN PARK,-87.668520,41.691435,5,"[3025.14, 3036.02, 2493.75, 2683.05, 2372.81, ...","[15.93, 23.64, 28.5, 32.1, 0.0, 34.28, 26.51, ..."
5,6464 N Clark St,ROGERS PARK,-87.671324,41.999763,6,"[125.89, 311.05, 511.7, 415.38, 711.59, 740.61...","[19.21, 10.98, 6.05, 2.87, 34.28, 0.0, 11.92, ..."
6,5555 W Grand Ave,BELMONT CRAGIN,-87.765574,41.918609,7,"[1597.02, 1399.75, 1335.54, 1179.09, 1029.81, ...","[15.3, 10.26, 9.96, 9.06, 26.51, 11.92, 0.0, 1..."
7,1718 S State St,NEAR SOUTH SIDE,-87.627356,41.858373,8,"[1833.29, 1941.22, 1377.79, 1588.24, 1278.01, ...","[3.09, 5.16, 10.1, 14.52, 18.87, 16.14, 13.26,..."
8,5101 S Wentworth Ave,FULLER PARK,-87.630560,41.801811,9,"[2229.84, 2240.73, 1698.46, 1887.75, 1577.52, ...","[3.27, 11.33, 16.28, 20.42, 12.67, 22.27, 17.1..."
9,7040 S Cottage Grove Ave,WOODLAWN,-87.605748,41.766431,10,"[2596.72, 2607.61, 2065.33, 2254.63, 1944.4, 1...","[7.29, 15.53, 20.48, 24.77, 9.83, 26.51, 21.48..."
10,2255 E 103rd St,SOUTH DEERING,-87.568349,41.707933,11,"[3001.86, 3012.75, 2470.48, 2659.77, 2349.54, ...","[14.39, 22.59, 27.5, 31.91, 8.52, 33.55, 28.56..."
11,727 E 111th St,PULLMAN,-87.604506,41.692723,12,"[2944.69, 2955.58, 2413.3, 2602.6, 2292.37, 21...","[15.42, 23.63, 28.58, 32.72, 5.32, 34.59, 28.4..."
12,7808 S Halsted St,AUBURN GRESHAM,-87.644229,41.752137,13,"[2634.12, 2645.01, 2102.74, 2292.03, 1981.8, 1...","[8.9, 16.8, 21.72, 25.6, 7.04, 27.62, 21.06, 1..."
13,1438 W 63rd St,WEST ENGLEWOOD,-87.660887,41.779632,14,"[2596.68, 2607.57, 2065.29, 2254.59, 1944.36, ...","[6.47, 13.82, 18.67, 22.39, 9.83, 24.49, 17.72..."
14,3420 W 63rd St,CHICAGO LAWN,-87.708864,41.778987,15,"[2688.95, 2699.84, 2157.56, 2346.86, 2036.63, ...","[9.12, 14.84, 19.32, 22.34, 10.29, 24.74, 16.2..."
15,3120 S Halsted St,BRIDGEPORT,-87.646408,41.837394,16,"[2073.43, 2084.32, 1542.05, 1731.34, 1421.11, ...","[2.05, 7.33, 12.24, 16.27, 16.33, 18.17, 13.37..."
16,3315 W Ogden Ave,NORTH LAWNDALE,-87.708382,41.856685,17,"[2020.02, 1822.75, 1620.34, 1602.09, 1289.65, ...","[7.61, 7.47, 11.13, 13.72, 18.67, 16.2, 8.36, ..."
17,3151 W Harrison St,EAST GARFIELD PARK,-87.705488,41.873582,18,"[1848.82, 1659.79, 1425.9, 1439.13, 1099.01, 1...","[8.3, 6.11, 9.34, 11.83, 20.48, 14.31, 7.06, 6..."
18,1412 S Blue Island Ave\n,NEAR WEST SIDE,-87.656973,41.862977,19,"[1816.02, 1826.9, 1284.63, 1473.92, 1163.69, 1...","[4.54, 4.62, 9.4, 13.3, 19.1, 15.26, 10.91, 2...."
19,2150 N California Ave,LOGAN SQUARE,-87.697452,41.921103,20,"[1220.91, 1054.28, 854.33, 828.24, 471.1, 649....","[11.77, 4.9, 4.79, 6.51, 25.65, 9.01, 5.64, 9...."
20,5701 W Madison St,AUSTIN,-87.768200,41.880083,21,"[2032.47, 1835.2, 1734.15, 1614.54, 1377.65, 1...","[13.19, 10.65, 12.22, 12.7, 22.55, 15.53, 4.29..."
21,5151 N Milwaukee Ave,JEFFERSON PARK,-87.766149,41.974094,22,"[1138.76, 941.5, 1055.75, 794.08, 882.92, 1120...","[19.84, 12.85, 9.93, 6.09, 32.45, 8.34, 6.17, ..."
22,4650 N Pulaski Rd,ALBANY PARK,-87.728115,41.966053,23,"[867.43, 670.16, 627.24, 449.49, 583.81, 723.9...","[17.37, 9.9, 6.66, 3.28, 30.93, 6.01, 6.12, 14..."

### Community areas

In [38]:
community_areas = new_community.merge(R_criminalities[["ID_CA", "criminality_index"]], on="ID_CA")
community_areas

,ID_CA,community_area,population,area,neighbours,criminality_index
0,1,ROGERS PARK,55628,4.77,"[1, 2, 77]",4000
1,2,WEST RIDGE,77122,9.14,"[1, 2, 4, 13, 77]",3785
2,3,UPTOWN,57182,6.01,"[3, 4, 5, 6, 77]",3812
3,4,LINCOLN SQUARE,40494,6.63,"[2, 3, 4, 5, 6, 13, 14, 16, 77]",2064
4,5,NORTH CENTER,35114,5.31,"[3, 4, 5, 6, 7, 14, 16, 21, 22]",1323
...,...,...,...,...,...,...
72,73,WASHINGTON HEIGHTS,25065,7.41,"[49, 71, 72, 73, 75]",2870
73,74,MOUNT GREENWOOD,18628,7.02,"[72, 74, 75]",528
74,75,MORGAN PARK,21186,8.55,"[49, 53, 72, 73, 74, 75]",1785
75,76,OHARE,13418,34.55,"[10, 17, 76]",1643
76,77,EDGEWATER,56296,4.51,"[1, 2, 3, 4, 77]",2830

### Police areas

In [27]:
police_areas = {'police_area': [1, 2, 3, 4, 5], 'max_workload': [0, 0, 0, 0, 0]}

pd.DataFrame(police_areas)

   police_area  max_workload
0            1             0
1            2             0
2            3             0
3            4             0
4            5             0